doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div(id="test") = test
    script(type='text/javascript', src='/javascripts/main.js')